p {
    text-align: center;
}
div.col-sm-2{
    background-color:lavender;
    text-align: center;
}
div.col-md{
    background-color:lavenderblush;
    text-align: center;
}
table.table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse 10px;
    width: 100%;
    text-align: center;
}
.caption-top {
    caption-side: top;
    text-align: center;
}